pipelines:
  default:
    - step:
        script:
          # Install dependencies.
          - sudo apt-get update
          - sudo apt-get -y install mercurial python2.7 python-matplotlib python-simplejson realpath
          - sudo apt-get -y install python-pip
          - sudo pip install -U pep8 pyflakes pytest sphinx
          - sudo pip install -U hg+https://bitbucket.org/jendrikseipp/vulture#egg=vulture

          # The docker container uses the encoding "ANSI_X3.4-1968" by default.
          - LANG="en_US.UTF-8"
          - LC_ALL="en_US.UTF-8"

          # Print information about environment.
          - python --version
          - python -c "import sys; print(sys.getfilesystemencoding())"
          - python -c "import locale; print(locale.getlocale())"

          - ./tests/run-tests
