#! /usr/bin/env python
# -*- coding: utf-8 -*-

import os
import sys

from lab.calls.call import Call
from lab.calls.log import driver_log, driver_err, redirects, save_returncode

sys.stdout = driver_log
sys.stderr = driver_err

# Make sure we're in the run directory.
os.chdir(os.path.dirname(os.path.abspath(__file__)))


%(calls)s

for stream in redirects.values():
    stream.close()
